APP_NAME=CoreMarket
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

COREMARKET_LICENSE_ENABLED=false
COREMARKET_INSTANCE_ID=
COREMARKET_LICENSE_KEY=
COREMARKET_LICENSE_DOMAIN=
COREMARKET_PLAN_CODE=ecommerce_starter
COREMARKET_LICENSE_STATUS=active
COREMARKET_LICENSE_STARTS_AT=
COREMARKET_LICENSE_EXPIRES_AT=
COREMARKET_LICENSE_GRACE_UNTIL=
