.env
.env.*
!.env.example
.env.*.php
.env.php

/vendor
/node_modules

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar

/bootstrap/cache/*.php
/bootstrap/compiled.php

/public/hot
/public/storage
/public/uploads
/public/app-translations
public/uploads.zip

/temp
/test
/test/

/*.sql
/**/*.sql
*.zip
*.tar
*.gz

myText.txt
.phpunit.result.cache
npm-debug.log
yarn-error.log

/.idea
/.vscode
/.vagrant
.idea/
.DS_Store

Homestead.json
Homestead.yaml
updates/
resources/lang/en.json
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
.htaccess
